<style>
.tagcloud {
	padding:20px 0;
}
.tagcloud a{
	margin-right:5px;
}
.t15{font-size:42px;font-weight:700;}
.t14{font-size:40px;font-weight: 500;}
.t13{font-size:38px;font-weight: 400;}
.t12{font-size:36px;}
.t11{font-size:34px;}
.t10{font-size:32px;}
.t9 {font-size:30px;}
.t8 {font-size:28px;}
.t7 {font-size:26px;}
.t6 {font-size:24px;}
.t5 {font-size:22px;}
.t4 {font-size:20px;}
.t3 {font-size:18px;}
.t2 {font-size:16px;}
.t1 {font-size:14px;}
.t0 {font-size:12px;}
</style>
<div class="main">
	<a href="/">首页</a> > <span>标签云</span>
	<div class="tagcloud">
{{#list}}
<a href="/tag/{{_id}}" class="{{className}}">{{_id}}</a>
{{/list}}
</div>
</div>