<div class="main">
<ul>
{{#list}}
<li class="item-wrapper">
<a id="{{name}}" href="/p/{{name}}">{{name}}</a><span class="version">({{version}})</span>
<p class="desc">{{description}}</p>
<ul class="item">
{{#assets}}
{{#files}}
<li>//cdnjscn.b0.upaiyun.com/libs/{{name}}/{{version}}/{{.}}</li>
{{/files}}
{{/assets}}
</ul>
{{#hasExt}}
<a href="#" class="ext">展开</a>
{{/hasExt}}
</li>
{{/list}}
</ul>
</div>