<div class="main">
	<a href="/">首页</a> > <a href="/explore">探索</a> > <span>{{tag}}</span>
<ul>
{{#list}}
<li class="item-wrapper">
<a id="{{name}}" href="/p/{{name}}">{{name}}</a><span class="version">({{version}})</span>
<p class="desc">{{description}}</p>
<ul class="item">
{{#assets}}
{{#files}}
<li>{{site}}/libs/{{name}}/{{version}}/{{.}}</li>
{{/files}}
{{/assets}}
</ul>
{{#hasExt}}
<a href="#" class="ext">展开</a>
{{/hasExt}}
</li>
{{/list}}
</ul>
</div>