<a href="/">首页</a>>发现

<div>
<a href="/explore?page={{pager.curPage}}&amp;sort=fork">fork</a> | <a href="/explore?page={{pager.curPage}}&amp;sort=star">star</a>
</div>
<ul>
{{#list}}
<li>
	<div><a href="/p/{{name}}">{{name}}</a> fork: {{g_fork}} star: {{g_star}}</div>
	<p>{{description}}</p>
	<ul>
	{{#assets}}
	{{#files}}
	<li>//cdnjscn.b0.upaiyun.com/libs/{{name}}/{{version}}/{{.}}</li>
	{{/files}}
	{{/assets}}
	</ul>
</li>
{{/list}}
</ul>

	<a href="/explore?page=1">首页</a>
	{{#pager.list}}
		<a href="/explore?page={{.}}">{{.}}</a>
	{{/pager.list}}
	<a href="/explore?page={{pager.maxPage}}">末页</a>