<p>
	cdnjs在国内的镜像站点，每天同步更新，支持https协议！
</p>
<p>
	说明：点击项目名称可以查看项目的所有版本；<br>
	在生产项目中建议引用以min.js或min.css结尾的文件，压缩过的文件可以提高页面的载入性能；<br>
	点击“更多”链接，可以查看最新版本的其它文件；<br>
</p>
{{#tags}}
<a href="/category/{{tag}}">{{text}}</a>
{{/tags}}
<ul>
{{#list}}
<li>
<a id="{{name}}" href="/p/{{name}}">{{name}}</a>({{version}})
<ul class="item">
{{#assets}}
{{#files}}
<li>//cdnjscn.b0.upaiyun.com/libs/{{name}}/{{version}}/{{.}}</li>
{{/files}}
{{/assets}}
</ul>
{{#hasExt}}
<a href="#" class="ext">展开</a>
{{/hasExt}}
</li>
{{/list}}
</ul>

