<p>
	<a href="/about#howto">如何增加一个库</a>/
	<a href="https://github.com/cdnjscn/www.cdnjs.cn/issues">意见反馈</a>/
	<a href="/about">简介</a>
</p>
<p>cdnjs.cn是cdnjs.com于国内的镜像服务，特别感谢 <a href="http://www.upyun.com">又拍云</a>和<a href="http://www.ucloud.cn">UCloud</a>的赞助与支持！</p>
<form action="/search">
	<input name="q" value="">
	<button type="submit">搜索</button>
</form>

</p>
<p>还支持https协议哦！</p>
{{#tags}}
<a href="/tag/{{tag}}">{{text}}</a>
{{/tags}}
<div>
{{#libs}}
	<a href="#{{.}}">{{.}}</a>
{{/libs}}
</div>
<ul>
{{#list}}
<li>
<a id="{{name}}" href="/p/{{name}}">{{name}}</a>({{version}})
<ul>
{{#assets}}
{{#files}}
<li>//cdnjscn.b0.upaiyun.com/libs/{{name}}/{{version}}/{{.}}</li>
{{/files}}
{{/assets}}
</ul>
</li>
{{/list}}
</ul>
