<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>{{title}}</title>
	</head>
	<body>
	<div>header</div>
	{{{yield}}}
	<div>Copyright &copy; 2014 cdnjs.cn All Rights Reserved 京ICP备13025641号</div>
	</body>
</html>