<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>{{title}}</title>
	</head>
	<body>
	<h1>cdnjs.cn</h1>
	<p>
		<a href="/explore">发现</a>/
		<a href="/about">简介</a>/
		<a href="/about#howto">如何增加一个库</a>/
		<a rel="nofollow" href="https://github.com/cdnjscn/www.cdnjs.cn/issues">意见反馈</a>
	</p>
	<form action="/search">
		<input name="q" value="">
		<button type="submit">搜索</button>
	</form>

	</p>
	{{{yield}}}
	<div>Copyright &copy; 2014 cdnjs.cn All Rights Reserved 冀ICP备12013675号-2</div>
	感谢<a href="http://www.upyun.com">
	<img src='http://cdnjscn.b0.upaiyun.com/plus/cdnjs.cn/imgs/upyun_logo.png'>
	</a>提供CDN加速服务，
	<a href="http://www.ucloud.cn">
	<img src='http://cdnjscn.b0.upaiyun.com/plus/cdnjs.cn/imgs/ucloud_logo.png'>
	</a>提供动力支持！
	</body>
</html>