<style>
.content {
	padding: 15px 0;
}
</style>
<div class="main">
	<div class="note">
		<h3><a href="/n/{{note.id}}">{{note.title}}</a></h3>
		<div class="content">
			{{{note.content}}}
		</div>
	</div>
</div>