<div class="main">
<style>
.list {
	margin:20px 0;
}

.project {
	font-size:14px;
	margin:18px 0;
	border:solid 1px #dedede;
	padding:10px;
	background-color:#f9f9f9;
}
.project .version {
	font-size:12px;
	color:#999;
	margin-left:10px;
}
.project .site {
	font-size:12px;
	color:#999;
}
.project .desc {
	margin-top:10px;
}
</style>
<div class="main">
	<div class="breadcrum">
		<a href="/">首页</a> > {{project.name}}
	</div>
</div>
<div class="project">
<h3><strong>{{project.name}}</strong> <span class="version">({{project.version}})</span>
<a class="site" target="_blank" rel="nofollow" href="{{project.homepage}}">项目首页</a>
</h3>
<p class="desc">{{project.description}}</p>
</div>
<div class="list">
{{#project.assets}}
<h3>{{version}}</h3>
<ul class="item">
{{#files}}
<li>//cdnjscn.b0.upaiyun.com/libs/{{project.name}}/{{version}}/{{.}}</li>
{{/files}}
</ul>
{{#hasExt}}
<a href="#" class="ext">展开</a>
{{/hasExt}}
{{/project.assets}}
</div>
</div>