<div class="main">
<style>
.list {
	margin:20px 0;
}
</style>
<a href="/">首页</a> > {{project.name}}<br>
{{project.name}}<br>
{{project.description}}<br>
<a target="_blank" rel="nofollow" href="{{project.homepage}}">{{project.homepage}}</a><br>
{{project.filename}}<br>
最新稳定版：{{project.version}}<br>

<div class="list">
{{#project.assets}}
<h3>{{version}}</h3>
<ul class="item">
{{#files}}
<li>//cdnjscn.b0.upaiyun.com/libs/{{name}}/{{version}}/{{.}}</li>
{{/files}}
</ul>
{{#hasExt}}
<a href="#" class="ext">展开</a>
{{/hasExt}}
{{/project.assets}}
</div>
</div>